@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>@Html.ActionLink("Play with the boombox", "Index", "Boombox")</p>
    <p>@Html.ActionLink("Play with the sequencer", "Index", "Sequencer")</p>
</div>
